body {
  font-family: 'Georgia', cursive;
  background-color: #202225;
}

h1 {
  color: #ffd45c;
}

h2 {
  color: #ffd45c;
}

label {
  color: white;
}

a {
  font-size: 2.0rem;
  color: #ffd45c;
}

img {
  width: 70px;
  height: 70px;
  display: inline-flex;
}

.navbar-brand {
  font-size: 2.5rem;
}

li {
  list-style-type: none;
}

.dropdown {
  display: inline;
}

.this {
  color: white;
  font-size: 3 rem;
}

.dropdown-item {
  color: #ffd45c;
}

.preferences {
  margin-left: 6 rem;
}

.card {
  width: 20rem;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-left: 0.5rem;
  border-top-color: #ffd45c;
}

.smaller {
  width: 14rem;
}

.medium {
  width: 18rem;
}

.header {
  color: #ffd45c;
  font-size: 2rem;
}

.calendar {
  height: 700px;
}

.hours {
  color: #ffd45c;
  border: 1px solid;
  border-color: rgb(169, 146, 146);
}

.time {
  color: #ffd45c;
  border: 1px solid;
  border-color: rgb(169, 146, 146);
}


.department-link {
  color: white;
}

.card::hover {
  border:
}

a:hover {
  color: #ffd45c;
  border-color: red;
}

.header::onClick {
  padding-left: 10rem;
}